@import './variables.css';

/* NORMAL MEDIA */
@media(min-width:0px){


}

@media(min-width:576px){

}

@media(min-width:768px){

}

@media (min-width: 1200px){

}

@media (max-width: 600px){
  .allcards {
    display: flex;
    flex-direction: row;
    justify-content: left !important;
    flex-wrap: nowrap;       /* 👈 important: no wrapping! */
    overflow-x: auto;         /* 👈 important: allow scroll right */
    scroll-behavior: smooth;  /* optional */
    margin-top:-7%;
  }
  .allcards::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  .cards {
    flex: 0 0 auto;            /* 👈 important: fixed width */
    margin:2rem !important;
    margin-left:0 !important;
    margin-right:5vw !important;
    width: 80vw !important;
  }

  .doctorname{
    font-size: 3vh !important;
  }

  .doctorname span{
    font-size:3.1vh !important;
  }

  .about p{
  padding:1rem 2rem;
  border-left:1px solid rgb(16, 221, 16);
  margin:1rem 0;
  line-height: 3vh;
  font-size: larger;
}



.gallery >div{
    width:100%;
    margin-bottom:1rem;
    margin-right:0rem !important;
    padding:2rem !important;
     background: linear-gradient(to right, #007bff, #5014d25e);


}

.gallery img{
      border-radius: 5%;
       width:100% !important;
       height: auto;
}

.clinicname {
    background: linear-gradient(135deg, hsla(0, 0%, 3%, 0.747) 0%, #2575fc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 100% !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.3rem;
}


.logo-nav img {
  height:5vh !important;
  width:5vh !important;
    border-radius: 70%;
    pointer-events: auto;
    cursor: pointer;
}


}
/* END NORMAL MEDIA */




